<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpreadChat</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="/images/system/widespread_logo_1a1a1a.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/080e00a6ec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>



    <%- body %>
</body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpreadChat</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="/images/system/widespread_logo_1a1a1a.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/080e00a6ec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>



    <%- body %>
</body>
>>>>>>> a8a8b4650a974eeda356f271e4e38c9b4cab5fa3
</html>