<style>
    p {
        font-size: 1.3rem;
        color: #fff;
        margin-bottom: 100px;
        padding: 50px;
    }
</style>

<p><%= userData %></p>
<p><%= data %></p>
<p style="color: lime">

    <%- JSON.stringify(userData) %>
</p>
