<<<<<<< HEAD
<style>

#coreMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: transparent;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 99996;    
    
}
#coreMenu span {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 30px;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 0 2px 1px rgb(123, 167, 194);
    box-shadow: inset -5px 10px 5px rgb(128 152 167 / 25%), inset -2px 5px 2px rgb(119 133 141 / 25%), inset -1px 0px 12px rgb(186 229 255 / 10%), -1px 3px 10px #87cefa91;
    display: flex;
    background-color: rgba(135, 206, 250, 0.65);
    backdrop-filter: blur(4px);
    border-bottom: outset 2px rgba(135, 206, 250, 0.672);
    border-bottom: outset 1px rgba(135, 206, 250, 0.5);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 14px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 1s;
    cursor: pointer;
}

#coreMenu span:hover {
    background-color: rgba(144, 193, 224, 0.4);
}
#coreMenu span:hover i {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: -2px 2px rgba(255, 255, 255, 0.25);
}
#coreMenu i {
    text-shadow: 0 5px #000;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.181);
    transition: ease-in-out 0.5s;
}    
#searchForm {
    width: calc(100vw - 50px);
    z-index: 1000;
}
#searchForm form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 6px;
    backdrop-filter: blur(2px);
    border-bottom-left-radius: 8px;
    border: none;
    border-left: solid 0.5px rgba(106, 106, 106, 0.4);
    border-bottom: solid 2px rgba(255, 255, 255, 0.25);
}
#searchForm input {
    font-size: 1rem;
    width: calc(95% - 50px);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 3px;
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    font-weight: lighter;
    margin: 0;
    margin-top: 1px;
    outline: none;
    border: inset 2px rgba(255, 255, 255, 0.25);
    border: solid 0.5px #cccccc4d;
    border-left: solid 2px #ffffff8f;
    border-right: none;
    transition: ease-in 0.5s;
}
#searchForm input:-webkit-autofill,
#searchForm input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
#searchForm input::placeholder {
    color: #fff;
    text-shadow: 0 0 6px #000;
}
#searchForm input:focus {
    color: #fff;
    text-shadow: 0 0 6px #000;
    background: rgba(135, 206, 250, 0.25);
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.25), 0 0 2px rgba(255, 255, 255, 0.5);
    border: inset 2px rgba(135, 206, 250, 0.75);
    border-right: none;
    transition: ease-in 0.3s;
}
#searchForm button {
    font-size: 1.1rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin: 0;
    width: 50px;
    background: rgba(135, 206, 250, 0.5);
    padding: 7px;
    outline: none;
    border: outset 2px lightskyblue;
    border-right: none;
    color: #fff;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25), inset 0 0 3px #fff;

}
.fade {
  transition: ease-in opacity 2s;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99950;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  overscroll-behavior: contain;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  display: block;
  transition: ease-in 0.5s;
}

.main-menu a {
    padding: 8px;
}

.overlay a:hover, .overlay a:focus {
    color: rgba(0, 0, 0, 0.75);
    text-shadow: 0 0 4px rgba(135, 206, 250, 0.75);
    transition: ease-in 0.25s;
}

.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 10px;
  font-size: 30px;
  padding-top: 8px;
  z-index: 99958;
}
@media screen and (min-width: 900px) {
    #rootNav {
        z-index: 999999;
        margin-top: -50px;
        height: calc(100vh + 52px);
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 8px 0 8px rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        border-right: solid 1px rgba(255, 255, 255, 0.25);
    }
    #searchForm {
        width: 78%;
    }

    @media screen and (min-width: 1100px) {
        #coreMenu span {
            border-bottom-right-radius: 8px;
        }
    }

}

</style>



<div id="rootNav" class="overlay">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
    <div id="mainMenu">
        <%- include('../menus/main'); %>
    </div>
</div>

<div id="coreMenu">
    <span onclick="openNav()"><i id="open" class="fa-solid fa-bars"></i></span>
    <div id="searchForm">
        <form action="/search" method="post">
            <input type="search" name="query" placeholder="Search..." spellcheck="false">
            <button type="submit">Go</button>
        </form>
    </div>
</div>

<script>


    function openNav() {
        if (screenWidth >= 900) {
            document.getElementById("rootNav").style.width = "22%";
            document.getElementById("open").style.opacity = 0;
        } else {
            document.getElementById("rootNav").style.width = "100%";
            document.getElementById("open").style.opacity = 0;
        }
    }
    
    function closeNav() {
        document.getElementById("rootNav").style.width = "0%";
        document.getElementById("open").style.opacity = 1;
    }

=======
<style>

#coreMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: transparent;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 99996;    
    
}
#coreMenu span {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 30px;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 0 2px 1px rgb(123, 167, 194);
    box-shadow: inset -5px 10px 5px rgb(128 152 167 / 25%), inset -2px 5px 2px rgb(119 133 141 / 25%), inset -1px 0px 12px rgb(186 229 255 / 10%), -1px 3px 10px #87cefa91;
    display: flex;
    background-color: rgba(135, 206, 250, 0.65);
    backdrop-filter: blur(4px);
    border-bottom: outset 2px rgba(135, 206, 250, 0.672);
    border-bottom: outset 1px rgba(135, 206, 250, 0.5);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 14px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 1s;
    cursor: pointer;
}

#coreMenu span:hover {
    background-color: rgba(144, 193, 224, 0.4);
}
#coreMenu span:hover i {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: -2px 2px rgba(255, 255, 255, 0.25);
}
#coreMenu i {
    text-shadow: 0 5px #000;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.181);
    transition: ease-in-out 0.5s;
}    
#searchForm {
    width: calc(100vw - 50px);
    z-index: 1000;
}
#searchForm form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 6px;
    backdrop-filter: blur(2px);
    border-bottom-left-radius: 8px;
    border: none;
    border-left: solid 0.5px rgba(106, 106, 106, 0.4);
    border-bottom: solid 2px rgba(255, 255, 255, 0.25);
}
#searchForm input {
    font-size: 1rem;
    width: calc(95% - 50px);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 3px;
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    font-weight: lighter;
    margin: 0;
    margin-top: 1px;
    outline: none;
    border: inset 2px rgba(255, 255, 255, 0.25);
    border: solid 0.5px #cccccc4d;
    border-left: solid 2px #ffffff8f;
    border-right: none;
    transition: ease-in 0.5s;
}
#searchForm input:-webkit-autofill,
#searchForm input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
#searchForm input::placeholder {
    color: #fff;
    text-shadow: 0 0 6px #000;
}
#searchForm input:focus {
    color: #fff;
    text-shadow: 0 0 6px #000;
    background: rgba(135, 206, 250, 0.25);
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.25), 0 0 2px rgba(255, 255, 255, 0.5);
    border: inset 2px rgba(135, 206, 250, 0.75);
    border-right: none;
    transition: ease-in 0.3s;
}
#searchForm button {
    font-size: 1.1rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin: 0;
    width: 50px;
    background: rgba(135, 206, 250, 0.5);
    padding: 7px;
    outline: none;
    border: outset 2px lightskyblue;
    border-right: none;
    color: #fff;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25), inset 0 0 3px #fff;

}
.fade {
  transition: ease-in opacity 2s;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99950;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  overscroll-behavior: contain;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  display: block;
  transition: ease-in 0.5s;
}

.main-menu a {
    padding: 8px;
}

.overlay a:hover, .overlay a:focus {
    color: rgba(0, 0, 0, 0.75);
    text-shadow: 0 0 4px rgba(135, 206, 250, 0.75);
    transition: ease-in 0.25s;
}

.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 10px;
  font-size: 30px;
  padding-top: 8px;
  z-index: 99958;
}
@media screen and (min-width: 900px) {
    #rootNav {
        z-index: 999999;
        margin-top: -50px;
        height: calc(100vh + 52px);
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 8px 0 8px rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        border-right: solid 1px rgba(255, 255, 255, 0.25);
    }
    #searchForm {
        width: 78%;
    }

    @media screen and (min-width: 1100px) {
        #coreMenu span {
            border-bottom-right-radius: 8px;
        }
    }

}

</style>



<div id="rootNav" class="overlay">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
    <div id="mainMenu">
        <%- include('../menus/main'); %>
    </div>
</div>

<div id="coreMenu">
    <span onclick="openNav()"><i id="open" class="fa-solid fa-bars"></i></span>
    <div id="searchForm">
        <form action="/search" method="post">
            <input type="search" name="query" placeholder="Search..." spellcheck="false">
            <button type="submit">Go</button>
        </form>
    </div>
</div>

<script>


    function openNav() {
        if (screenWidth >= 900) {
            document.getElementById("rootNav").style.width = "22%";
            document.getElementById("open").style.opacity = 0;
        } else {
            document.getElementById("rootNav").style.width = "100%";
            document.getElementById("open").style.opacity = 0;
        }
    }
    
    function closeNav() {
        document.getElementById("rootNav").style.width = "0%";
        document.getElementById("open").style.opacity = 1;
    }

>>>>>>> a8a8b4650a974eeda356f271e4e38c9b4cab5fa3
</script>