<style>

</style>


<%- include('../../../partials/menus/business', {company}); %>

<div class="company-background-image" style="background:url('/image/<%= company.background_image %>') 50% 50% no-repeat; background-size:cover;"></div>
<div class="company-background-image-filter"></div>


<div class="page-title">
    <h2>Employee Portal</h2>
</div>