<<<<<<< HEAD
<style>

</style>


<%- include('../../../partials/menus/business', {company}); %>

<div class="company-background-image" style="background:url('/image/<%= company.background_image %>') 50% 50% no-repeat; background-size:cover;"></div>
<div class="company-background-image-filter"></div>


<div class="page-title">
    <h2>Employee Portal</h2>
=======
<style>

</style>


<%- include('../../../partials/menus/business', {company}); %>

<div class="company-background-image" style="background:url('/image/<%= company.background_image %>') 50% 50% no-repeat; background-size:cover;"></div>
<div class="company-background-image-filter"></div>


<div class="page-title">
    <h2>Employee Portal</h2>
>>>>>>> a8a8b4650a974eeda356f271e4e38c9b4cab5fa3
</div>