<style>

</style>

<%- include('../../partials/menus/business', {company}); %>

<%- include('../../partials/menus/sub/business/resources', {company}); %>

    <div class="sub-zone-page-title">
        <h2>
            <%= subZonePage %>
        </h2>
    </div>