<<<<<<< HEAD
<style>

</style>
<%- include('../../partials/menus/academy'); %>

<div class="page-title">
    <h2>Study Home</h2>
</div>
=======
<style>

</style>
<%- include('../../partials/menus/academy'); %>

<div class="page-title">
    <h2>Study Home</h2>
</div>
>>>>>>> a8a8b4650a974eeda356f271e4e38c9b4cab5fa3
