<<<<<<< HEAD
<style>
    #wellnessHelpMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
    }
</style>

<div id="wellnessHelpMenu">
    <div class="menu-item <%= subZonePage=='Categories' ? 'menu-link active' : 'menu-link' %>"><a href="/wellness/help">Categories</a></div>
    <div class="menu-item <%= subZonePage=='Contact Us' ? 'menu-link active' : 'menu-link' %>"><a href="/wellness/help/request">Contact Us</a></div>
=======
<style>
    #wellnessHelpMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
    }
</style>

<div id="wellnessHelpMenu">
    <div class="menu-item <%= subZonePage=='Categories' ? 'menu-link active' : 'menu-link' %>"><a href="/wellness/help">Categories</a></div>
    <div class="menu-item <%= subZonePage=='Contact Us' ? 'menu-link active' : 'menu-link' %>"><a href="/wellness/help/request">Contact Us</a></div>
>>>>>>> a8a8b4650a974eeda356f271e4e38c9b4cab5fa3
</div>