<style>
    .collection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .bx {
        font-size: 5rem;
        margin-right: 10px;
        margin-bottom: 30px;
    }
    .active {
        background-color: rgba(85, 85, 85, 0.75);
        backdrop-filter: blur(4px);
        border-radius: 4px;
    }
    table {
        width: 100%;
    }
    tr {
        border-bottom: solid 1px #fff;
    }
    td {
        color: lightskyblue;
        font-size: 1.5rem;
    }
</style>


<div class="mathematical-symbols">

    <table>
        <tr>
            <td>&#8711;</td>
            <td>Nabla Differenctial Operator</td>
        </tr>
        <tr>
            <td>&#8711; &#402;</td>
            <td>Gradient of Scalar &#402;</td>
        </tr>
        <tr>
            <td>&#8711; X A</td>
            <td>Curl of Vector A</td>
        </tr>
        <tr>
            <td>&#8711;&#178; or &#8710;</td>
            <td>Laplacian Operator</td>
        </tr>
        <tr>
            <td>&#8711; &#8901; A</td>
            <td>Divergence of Vector A</td>
        </tr>
        <tr>
            <td>&#8869;</td>
            <td>Perpendicular to</td>
        </tr>
        <tr>
            <td>2D, 3D, nD</td>
            <td>Two-dimensional, Three-dimensional, n-dimensional</td>
        </tr>
        <tr>
            <td>det</td>
            <td>Determinant of Matrix</td>
        </tr>
        <tr>
            <td>E<sub>i</sub></td>
            <td>i<sup>th</sup> covariant basis vector</td>
        </tr>
        <tr>
            <td>E<sup>i</sup></td>
            <td>i<sup>th</sup> contravariant basis vector</td>
        </tr>
        <tr>
            <td>Eq./Eqs.</td>
            <td>Equation/Equations</td>
        </tr>
        <tr>
            <td><em>h<sub>i</sub></em></td>
            <td>Scale factor for i<sup>th</sup> coordinate in general orthogonal system</td>
        </tr>
        <tr>
            <td>iff</td>
            <td>If and only if</td>
        </tr>
        <tr>
            <td>r, 0***, O***</td>
            <td>Coordinates of spherical system in 3D space</td>
        </tr>
        <tr>
            <td>tr</td>
            <td>Trace of Matrix</td>
        </tr>
        <tr>
            <td>u&#185;, u&#178;, u&#179;</td>
            <td>Coordinates of general orthogonal system in 3D space</td>
        </tr>
        <tr>
            <td>x1, x2, x3 or X1, X2, X3</td>
            <td>Labels of coordinate axes of Cartesian system in 3D space</td>
        </tr>
        <tr>
            <td>x&#185;, x&#178;, x&#179;</td>
            <td>Coordinates of general curvilinear system in 3D space</td>
        </tr>
        <tr>
            <td>x, y, z</td>
            <td>Coordinates of points in Cartesian system in 3D space</td>
        </tr>
        <tr>
            <td>p, 0****, z</td>
            <td>Coordinates of cylindrical system in 3D space</td>
        </tr>
    </table>
</div>


<div class="icon-collection">
    <h3>Academy Icons</h3>
    <div class="collection">
        <i class="bx bx-calculator"></i>
        <i class="bx bx-calendar"></i>
        <i class="bx bx-chat"></i>
        <i class="bx bx-dots-vertical-rounded"></i>
        <i class="bx bx-filter-alt"></i>
        <i class="bx bx-fullscreen"></i>
        <i class="bx bx-exit-fullscreen"></i>
        <i class="bx bx-info-circle"></i>
        <i class="bx bx-link-alt"></i>
        <i class="bx bx-medal"></i>
        <i class="bx bx-message-alt"></i>
        <i class="bx bx-message-alt-add"></i>
        <i class="bx bx-message-alt-check"></i>
        <i class="bx bx-message-alt-detail"></i>
        <i class="bx bx-message-alt-dots"></i>
        <i class="bx bx-message-alt-edit"></i>
        <i class="bx bx-message-alt-error"></i>
        <i class="bx bx-message-alt-minus"></i>
        <i class="bx bx-message-alt-x"></i>
        <i class="bx bx-user-pin"></i>
        <i class="bx bx-palette"></i>
        <i class="bx bx-pause-circle"></i>
        <i class="bx bx-play-circle"></i>
        <i class="bx bx-fast-forward-circle"></i>
        <i class="bx bx-rewind-circle"></i>
        <i class="bx bx-skip-next-circle"></i>
        <i class="bx bx-skip-previous-circle"></i>
        <i class="bx bx-plus"></i>
        <i class="bx bx-plus-circle"></i>
        <i class="bx bx-pin"></i>
        <i class="bx bx-printer"></i>
        <i class="bx bx-radio-circle"></i>
        <i class="bx bx-radio-circle-marked"></i>
        <i class="bx bx-search-alt-2"></i>
        <i class="bx bx-send"></i>
        <i class="bx bx-share-alt"></i>
        <i class="bx bx-slideshow"></i>
        <i class="bx bx-sort"></i>
        <i class="bx bx-star"></i>
        <i class="bx bx-task"></i>
        <i class="bx bx-task-x"></i>
        <i class="bx bx-tag"></i>
        <i class="bx bx-time-five"></i>
        <i class="bx bx-toggle-left"></i>
        <i class="bx bx-toggle-right"></i>
        <i class="bx bx-trash"></i>
        <i class="bx bx-video"></i>
        <i class="bx bx-video-off"></i>
        <i class="bx bx-volume"></i>
        <i class="bx bx-volume-full"></i>
        <i class="bx bx-volume-low"></i>
        <i class="bx bx-volume-mute"></i>
        <i class="bx bx-x-circle"></i>
        <i class="bx bx-trophy"></i>
        <i class="bx bx-stats"></i>
        <i class="bx bx-question-mark"></i>
        <i class="bx bx-help-circle"></i>
        <i class="bx bx-network-chart"></i>
        <i class="bx bx-microphone"></i>
        <i class="bx bx-microphone-off"></i>
        <i class="bx bx-minus-circle"></i>
        <i class="bx bx-note"></i>
        <i class="bx bx-id-card"></i>
        <i class="bx bx-heart"></i>
        <i class="bx bx-heart-circle"></i>
        <i class="bx bx-handicap"></i>
        <i class="bx bx-error-circle"></i>
        <i class="bx bx-edit"></i>
        <i class="bx bx-save"></i>
        <i class="bx bx-block"></i>
        <i class="bx bx-bell"></i>
        <i class="bx bx-bell-off"></i>
        <i class="bx bx-bookmark-alt"></i>
        <i class="bx bx-bookmark-alt-minus"></i>
        <i class="bx bx-bookmark-alt-plus"></i>
        <i class="bx bx-chevron-up-circle"></i>
        <i class="bx bx-chevron-right-circle"></i>
        <i class="bx bx-chevron-down-circle"></i>
        <i class="bx bx-chevron-left-circle"></i>
        <i class="bx bx-dollar-circle"></i>
        <i class="bx bx-code-alt"></i>
        <i class="bx bx-code-block"></i>
        <i class="bx bx-bar-chart-alt-2"></i>
        <i class="bx bx-book"></i>
        <i class="bx bx-bulb"></i>
        <i class="bx bx-history"></i>
        <i class="bx bx-line-chart"></i>
        <i class="bx bx-pencil"></i>
        <i class="bx bx-slider-alt"></i>
        <i class="bx bx-user-circle"></i>
        <i class="bx bx-wrench"></i>
        <i class="bx bx-zoom-in"></i>
        <i class="bx bx-zoom-out"></i>
        <i class="bx bx-x"></i>
    </div>
</div>


<script>
    const icons = document.querySelectorAll('i')
    icons.forEach(icon => {
        icon.addEventListener('click', e => {
            if (icon.classList.contains('active')) {
                icon.classList.remove('active')
            } else {
                icon.classList.add('active')
            }
        })
    })
</script>