<style>

</style>

<div class="page-title">
    <h2>Add New Item</h2>
</div>
<div class="add-new-item">
    <form action="/business/admin/<%= company.id %>/manage/inventory/add" method="post">

    </form>
</div>