<style>
    .room-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .room-options a {
        color: #fff;
        text-decoration: none;
        font-size: 2rem;
    }
</style>

<div class="page-title">
    <h2>FlexFloor Size <%= size %>' X <%= size %>'</h2>
</div>

<div class="room-options">
    <a href="/flexfloor/sizes/<%= size %>/active">Enter VR Room</a>

</div>