<style>
    .zone-menu {
        background-color: rgba(255, 255, 255, 0.15);
        width: 80%;
        margin: 0 auto;
        backdrop-filter: blur(10px);
        border-radius: 16px;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .zone-menu a {
        color: lightskyblue;
        font-size: 2rem;
        text-decoration: none;
        padding: 8px;
    }
</style>

<div class="page-title">
    <h2>FlexFloor Home</h2>
</div>


<div class="zone-menu">
    <a href="/flexfloor/sizes">FlexFloor Sizes</a>
    <a href="/flexfloor/units">FlexFloor Units</a>
</div>