<style>
    .page-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        border-radius: 16px;
        padding: 10px;
    }
    .section-header h5 {
        font-size: 3rem;
        color: lightskyblue;

    }
    .section-body a {
        color: #fff;
        text-decoration: none;
        font-size: 2rem;
    }
</style>

<div class="page-title">
    <h2>FlexFloor Sizes</h2>
</div>


<div class="page-container">

    <div class="page-section">
        <div class="section-header">
            <h5>5' X 5'</h5>
        </div>
        <div class="section-body">
            <p></p>
            <a href="/flexfloor/sizes/5">Enter Room</a>
        </div>
    </div>

    
    <div class="page-section">
        <div class="section-header">
            <h5>10' X 10'</h5>
        </div>
        <div class="section-body">
            <p></p>
            <a href="/flexfloor/sizes/10">Enter Room</a>
        </div>
    </div>

    
    <div class="page-section">
        <div class="section-header">
            <h5>15' X 15'</h5>
        </div>
        <div class="section-body">
            <p></p>
            <a href="/flexfloor/sizes/15">Enter Room</a>
        </div>
    </div>

    
    <div class="page-section">
        <div class="section-header">
            <h5>20' X 20'</h5>
        </div>
        <div class="section-body">
            <p></p>
            <a href="/flexfloor/sizes/20">Enter Room</a>
        </div>
    </div>

    
</div>