<style>
    #businessMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
    }
</style>

<div id="businessMenu">
    <div class="menu-item"><a href="/entertainment/audio/all">All</a></div>
    <div class="menu-item"><a href="/entertainment/audio/new">New</a></div>
    <div class="menu-item"><a href="/entertainment/audio/genres">Genres</a></div>
    <div class="menu-item"><a href="/entertainment/audio/playlists">Playlists</a></div>
    <div class="menu-item"><a href="/entertainment/audio/news">News</a></div>
    <div class="menu-item"><a href="/entertainment/audio/events">Events</a></div>
    <div class="menu-item"><a href="/entertainment/audio/help">Help</a></div>
</div>