<style>

</style>

<%- include('../../partials/menus/academy'); %>

<div class="page-title">
    <h2>Resources Home</h2>
</div>

<div class="back-button">
    <a href="/academy/resouces/encyclopedia">Encyclopedia</a>
</div>