<<<<<<< HEAD
<style>

</style>

<%- include('../../partials/menus/academy'); %>

<div class="page-title">
    <h2>Resources Home</h2>
</div>

<div class="back-button">
    <a href="/academy/resouces/encyclopedia">Encyclopedia</a>
=======
<style>

</style>

<%- include('../../partials/menus/academy'); %>

<div class="page-title">
    <h2>Resources Home</h2>
</div>

<div class="back-button">
    <a href="/academy/resouces/encyclopedia">Encyclopedia</a>
>>>>>>> a8a8b4650a974eeda356f271e4e38c9b4cab5fa3
</div>